@charset "utf-8";

/* 지난 년도 header*/

header{
    width: 90%;
    padding-top: 10px;
}

header .list-btn{
    cursor: pointer;
    float: left;
    font-size: 0.8em;
    width: 50px;
    height: 30px;    
    color: #999;
    background-color: bisque;
    border: transparent;
    margin: 0;
    font-family: 'NanumSquareNeoExtraBold';
}
header .list-btn:hover{
    color: #666;
    font-weight: bold;
}
header::after{
    content: '';
    display: block;
    clear: both;
}

/* 제목, 추가, 구절 버튼 content*/
.content{width: 90%;}
.content>h1{
    text-align: center;
    margin: 10px auto;
}
.content>h1.sublist{
    margin-bottom: 50px;
}
.content button{
    float: right;
    font-size: 1.02em;
    width: 50px;
    height: 30px;    
    color: #666;
    background-color: bisque;
    border: transparent;
    margin: 8px 0 30px 20px;
    font-family: 'NanumSquareNeoExtraBold';
}

.content button:hover{
    cursor: pointer;
    background-color: #666;
    color: bisque;
}
.content::after{
    content: "";
    display: block;
    clear: both;
}
table{
    width: 90%;
    text-align: center;
    padding-bottom: 30px;
}
table th{
    padding-bottom: 20px;
}
table td{
    line-height: 25px;
    font-size: 0.95em;
}
